<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Sighting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
    <body class= "bg-dark-subtle">
        <nav class="navbar navbar-expand-lg bg-success rounded-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"
                >Squatch Spotted!</a>
                <div>
                    <p><strong> {{ user.first_name }} </strong></p>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <form class="d-flex" role="search">
                    <a class="btn btn-outline-light" href="/dashboard">Go Back</a>
                    <a class="btn btn-outline-light" href="/logout">Logout</a>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container text-center p-3 text-dark bg-success-subtle border border-dark rounded-3">
            <div class="row align-items-center">
                <div class = "col-6">
                    <form action="/save/sighting" method="post">
                        <div class="mb-3">
                            <label for="location" class="form-label"><strong>Sighting Name</strong></label>
                            <input type="name" class="form-control" name="location" placeholder="Big Bear Lake">
                        </div>
                        <div class="mb-3">
                            <label for="describe_sighting" class="form-label"><strong>Describe Your Encounter</strong></label>
                            <textarea class="form-control" name="describe_sighting" rows="6"></textarea>
                        </div>
                        
                </div>
            </div>
            <div class="row align-items-center">
                <div class = "col-6">

                        <div class="mb-3">
                            <label for="created_at" class="form-label"><strong>Date of Sighting</strong></label>
                            <input type="date" name="created_at">
                        </div>

                        <div class="mb-3">
                            <label for="num_of_squatch" class="form-label"><strong>How Many!?</strong></label>
                            <input type="number" name="num_of_squatch" value="0">
                        </div>

                        <div>
                            <input type="submit" class="form-control" value="Submit">
                        </div>

                    </form>
                    <div class="row align-items-center">
    
                        {% with messages = get_flashed_messages() %}     
                                            {% if messages %}                            
                                                {% for message in messages %}
                                                    <div class="alert alert-info">
                                                        <p>{{message}}</p>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
    
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>